<html>
  <head>
    <title>Pokedex</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
    <link href="materialize/css/materialize.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <% if(production){ %>
    <script src="/bundle.js"></script>
  <% } else{ %>
   <!-- development mode -->
    <script src="/static/bundle.js"></script>
  <% } %>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js'></script>
 </html>
